/.sconsign.dblite
*.hi
*.o

/ch01/wc03
/ch01/wc04
/ch01/ch01-wc03.txt
/ch01/ch01-wc04.txt
/ch03/Directions
/ch03/convexhull-ok.txt
/ch04/ch04-firstword.txt
/ch04/ch04-transpose.txt
/ch04/firstword
/ch04/transpose

